In [1]:
from pandas.io.json import json_normalize
import pandas as pd
import json

In [2]:
json_path = '../Data/raw/books/goodreads_reviews_spoiler.json'

In [3]:
data = []
with open(json_path) as read_file:
    for line in read_file:
        data.append(json.loads(line))

In [4]:
df_books_reviews = json_normalize(data)

In [5]:
df_books_reviews.head()

,book_id,has_spoiler,rating,review_id,review_sentences,timestamp,user_id
0,18245960,True,5,dfdbb7b0eb5a7e4c26d59a937e2e5feb,"[[0, This is a special book.], [0, It started ...",2017-08-30,8842281e1d1347389f2ab93d60773d4d
1,16981,False,3,a5d2c3628987712d0e05c4f90798eb67,"[[0, Recommended by Don Katz.], [0, Avail for ...",2017-03-22,8842281e1d1347389f2ab93d60773d4d
2,28684704,True,3,2ede853b14dc4583f96cf5d120af636f,"[[0, A fun, fast paced science fiction thrille...",2017-03-20,8842281e1d1347389f2ab93d60773d4d
3,27161156,False,0,ced5675e55cd9d38a524743f5c40996e,"[[0, Recommended reading to understand what is...",2016-11-09,8842281e1d1347389f2ab93d60773d4d
4,25884323,True,4,332732725863131279a8e345b63ac33e,"[[0, I really enjoyed this book, and there is ...",2016-04-25,8842281e1d1347389f2ab93d60773d4d

In [6]:
df_books_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1378033 entries, 0 to 1378032
Data columns (total 7 columns):
book_id             1378033 non-null object
has_spoiler         1378033 non-null bool
rating              1378033 non-null int64
review_id           1378033 non-null object
review_sentences    1378033 non-null object
timestamp           1378033 non-null object
user_id             1378033 non-null object
dtypes: bool(1), int64(1), object(5)
memory usage: 64.4+ MB

In [7]:
df_books_reviews['book_id'] = df_books_reviews.book_id.astype(int)

In [9]:
df_books_reviews.to_csv('../Data/interim/books/books_reviews.csv', index=False)